 #resume{
  margin-left: 50%;
}
.social-icon {
  font-size: 22px;
  padding: 10px;
  border-radius: 50%;
  background: #f1f1f1;
  transition: all 0.3s ease;
  cursor: pointer;
}


.social-icon:hover {
  background: #0d6efd;   
  color: white;
  transform: translateY(-5px) scale(1.1);
} 